@model AppTeka.Models.Order
@{
    
    ViewData["Title"] = "Create";
    Layout = "/Views/Shared/_Layout.cshtml";
     var _httpClient = new HttpClient();
    List<AppTeka.Models.Customer>? customers = await _httpClient.GetFromJsonAsync<List<AppTeka.Models.Customer>>($"{ClientMVC.Data.ControllerConstants.DefaultURI}/api/customer", new CancellationToken());
    List<AppTeka.Models.ShopAssistant>? assistants = await _httpClient.GetFromJsonAsync<List<AppTeka.Models.ShopAssistant>>($"{ClientMVC.Data.ControllerConstants.DefaultURI}/api/shopassistant", new CancellationToken());

}

<h1>Create</h1>

<h4>Orders</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Sum" class="control-label">Sum</label>
                <input asp-for="Sum" class="form-control" />
                <span asp-validation-for="Sum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label">Customer</label>
                <select asp-for="CustomerId" asp-items="@(new SelectList(customers, nameof(AppTeka.Models.Customer.Id),nameof(AppTeka.Models.Customer.Name)))" class="form-control" ></select>
                <span asp-validation-for="CustomerId" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="ShopAssistantId" class="control-label">ShopAssistant</label>
                <select asp-for="ShopAssistantId" asp-items="@(new SelectList(assistants, nameof(AppTeka.Models.ShopAssistant.Id),nameof(AppTeka.Models.ShopAssistant.Name)))" class="form-control" ></select>
                <span asp-validation-for="PrescribtionId" class="text-danger"></span>

            </div>
              <div class="form-group">
              
                <input type="hidden" asp-for="OrderDate" value="@DateTime.Now" class="form-control" />
               

            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />

            </div>
        </form>
        <a asp-action="Index" class="btn btn-primary"  style="margin-top:10px;">Back to List</a>
    </div>
</div>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(function () { 
        $("#Price").on("keypress keyup blur", function (event) { 
            $(this).val($(this).val().replace(/[^0-9\.]/g, ''));
            if ((event.which != 46 || $(this).val().indexOf('.') != -1) && (event.which < 48 || event.which > 57)) {
                event.preventDefault();
            }
        });
    })
</script>
}
